<header>
    <div class="header-container">
        <div class="header-container-logo">
            <img src="../../../../assets/images/logo.png" class="header-logo-image"/>
            <span>Furniro</span>
        </div>

        <div class="header-container-nav hide-for-mobile">
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="#">Shop</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Content</a>
                </li>
            </ul>
        </div>

        <div class="hide-for-desktop header-container-hamburger-list">
            <mat-icon (click)="toggleList()" >menu</mat-icon>
            <div *ngIf="isListVisible">
                    <ul class="header-container-hidden-list">
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li>
                            <a href="#">Shop</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Content</a>
                        </li>
                    </ul>
            </div>
        </div>

        <div class="header-container-icons">
            <mat-icon>favorite_outline</mat-icon>
            <mat-icon>account_circle</mat-icon>
            <mat-icon>search</mat-icon>
            <mat-icon>shopping_cart</mat-icon>
        </div>

    </div>
</header>