<div class="multiple-product">
    <div class="multiple-product-header">
        <h2>Browse The Range</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="multiple-product-images">
        <div class="multiple-product-images-details">
            <img src="../../../../../assets/images/main-page-image-dining-room.png" alt="Single pic">
            <h5>Dining</h5>
        </div>

        <div class="multiple-product-images-details">
            <img src="../../../../../assets/images/main-page-image-living-room.png" alt="Single pic">
            <h5>Living</h5>
        </div>

        <div class="multiple-product-images-details">
            <img src="../../../../../assets/images/main-page-image-bedroom.png" alt="Single pic">
            <h5>Bedroom</h5>
        </div>
       
    </div>
</div>