<div class="multiple-product">
    <div class="multiple-product-header">
        <h2>Browse The Range</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="multiple-product-images">
        <div class="multiple-product-images-details">
            <img src="../../../../../assets/images/main-page-image-living-room.png" alt="Single pic">
            <h5>Household Products</h5>
        </div>

        <div class="multiple-product-images-details">
            <img src="../../../../../assets/images/main-page-image-one-of-three.jpeg" alt="Single pic">
            <h5>Clothes</h5>
        </div>

        <div class="multiple-product-images-details">
            <img src="../../../../../assets/images/main-page-pic-three-of-three.avif" alt="Single pic">
            <h5>Accessories</h5>
        </div>
       
    </div>
</div>